.Map{
    max-width: 670px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}
.Map .container{
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.heading-text{
    margin-bottom: 15px;
}
.map-content{
    width: 100%;
    height: 100%;
    background-color: black;
}