.App{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
::selection { background-color: lightgreen; color: #141517}
.horizontal-container{
  width: 100%;
}
.content-container{
  transition: width 0.1s ease-in-out;
}
.menu-container{
  height: 100vh;
  top: 50px;
  right: 0px;
  z-index: 3;
  display: flex;
  position: fixed;
  transition: width 0.1s ease-in-out, opacity 0s ease-in-out;
  flex: 1;
}